<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div style=" top:50% ; bottom:50%; text-align:center">
       <h1>Date:Month:Year </h1>
       <h1><%= todayDate %>: <%= exactMonthDate %>: <%= yearDate %></h1>
       <h1><%= stringDate %></h1>

</div>
</body>
</html>